div[data-context="main-title"]
{
    margin-top: 20px;
    margin-bottom: 30px;
}

div[data-context="filter-review"]
{
    margin-top: 10px;
    margin-bottom: 30px;
}

div[data-context="filter-modality-topics"]
{
    margin-top: 0px;
    margin-bottom: 20px;
}

div[data-context="section-topic"]
{
    margin-top: 20px;
    margin-bottom: 20px;
}

div[data-context="section-topic-title"]
{
    margin-top: 0px;
    margin-bottom: 20px;
}

div[data-context="section-reload-articles"]
{
    margin-top: 20px;
    margin-bottom: 20px;
}

div[data-context="section-articles-title"]
{
    margin-top: 60px;
    margin-bottom: 0px;
}



li.media {
    margin-top: 10px;
    margin-bottom: 40px;
}

.badge-size-5 {
    font-size: 1.8em;
}
.badge-size-4 {
    font-size: 1.6em;
}
.badge-size-3 {
    font-size: 1.4em;
}

.bold {
    font-weight: bold;
}

.displaynone {
    display: none;
}